.container-3FojY8 {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 200px;
}

.divider-3_HH5L {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.unreadPill-2HyYtt {
    display: none;
    
}

.isUnread-3Ef-o9 {
    border-color: transparent;

}

.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover {
    background-color: transparent;

}

.messages-3amgkR {
    background-color: transparent;
   
}

[class^="privateChannels"] a[class^="channel"][href="/store"] {
    display: none; 

}


[class^="socialLinks"] {
  padding: 0px 0px;
  
}


[class^="socialLinks"] [title="Twitter"] {
  display:	none;

}

[class^="socialLinks"] [title="Powercord"] {
  display:	none;

}

[class^="socialLinks"] [title="Facebook"] {
  display:	none;
  
}

[class^="socialLinks"] [title="Instagram"] {
  display:	none;
  
}

.info-1VyQPT {
  display:	none;
  
}

.sidebar-CFHs9e {
  padding: 60px 6px 20px 20px;
  
}

.mentioned-xhSam7::after {
   display:	none;

}

.content-1o0f9g {
  display: none;
  
}

.divider-JfaTT5 {
  border-top: transparent;
  
}
.group-spacing-24 .divider-3_HH5L.hasContent-1_DUdQ {
    margin-top: 1.5rem;
    margin-bottom: 0;
    display: none;
}
.group-spacing-16 .divider-3_HH5L {
    display: none;
}

.message-2qnXI6.selected-2P5D_Z, .mouse-mode.full-motion .message-2qnXI6:hover {
    background-color: transparent;
}
