.container-3FojY8 {
    background-color: transparent;
    padding-top: 0px;
    padding-bottom: 0px;
}

.divider-3_HH5L {
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.unreadPill-2HyYtt {
    display: none;
    
}

.isUnread-3Ef-o9 {
    border-color: transparent;

}

.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover {
    background-color: transparent;

}
