.separator-42rNt0 {display: none;}

.button-1ZiXG9 {display: none;}

.isHeader-2dII4U {top: 10px;}

.wrapper-2aW0bm, .wrapper-2aW0bm:hover {background-color: transparent;box-shadow: none;}

.container-3npvBV {top: unset;}

.button-1ZiXG9[aria-label="Add Reaction"], .button-1ZiXG9[aria-label="More"] {display: flex !important;background-color: transparent;}
